link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
include navbar.html
style
    include detail.css

div.jumbotron
    div.content
        img(src='https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/'+player.teamId+'/2017/260x190/'+player.id+'.png',
        alt='image not found')
        h3 #{player.name}
        p #{player.team}
    table.table.table-bordered(style='width:80%')

        thead
        tr
            th(width='20%') % of Shots <8ft
            th(width='20%') % of Shots 8-16ft
            th(width='20%') % of Shots 16-24ft
            th(width='20%') % of Shots 24+ft
        tbody
        tr
            td #{player.rimFga}%
            td #{player.closeFga}%
            td #{player.midrangeFga}%
            td #{player.threeFga}%

    table.table.table-bordered(style='width:80%')
        thead
        tr
            th(width='20%') FG% <8ft
            th(width='20%') FG% 8-16ft
            th(width='20%') FG% 16-24ft
            th(width='20%') FG% 24+ft
        tbody
        tr
            td #{player.rimFgp}%
            td #{player.closeFgp}%
            td #{player.midrangeFgp}%
            td #{player.threeFgp}%

    table.table.table-bordered(style='width:60%')
        thead
        tr
            th(width='20%') Drive Rate
            th(width='20%') Catch and Shoot Rate
            th(width='20%') Pullup Rate
        tbody
        tr
            td #{player.driveFga}%
            td #{player.catchShootFga}%
            td #{player.pullupFga}%

    table.table.table-bordered(style='width:60%')
        thead
        tr
            th(width='20%') Assist Rate
            th(width='20%') Turnover Rate
            th(width='20%') Usage Rate
        tbody
        tr
            td #{player.ast}%
            td #{player.tov}%
            td #{player.usg}%
